#
# {{ ansible_managed }}
#

# Set URL of your kontena server
KONTENA_URI={{ ka_master_uri|default('ws://127.0.0.1:8080') }}

# Set Kontena token
KONTENA_TOKEN={{ ka_token|default('secret_token') }}

# Kontena peer interface (overlay network interface)
KONTENA_PEER_INTERFACE={{ ka_peer_interface|default('secret_token') }}

# Specify node public ip, overrides default resolving
{% if ka_public_ip is defined %}
KONTENA_PUBLIC_IP={{ ka_public_ip }}
{% endif %}

# Specify node private ip, overrides default resolving
{% if ka_private_ip is defined %}
KONTENA_PRIVATE_IP={{ ka_private_ip }}
{% endif %}

# Logging level, http://www.rubydoc.info/gems/logger/1.2.8/Logger/Severity#INFO-constant
{% if ka_log_level is defined %}
LOG_LEVEL={{ ka_log_level }}
{% endif %}

# etcd image (default: kontena/etcd)
{% if ka_etcd_image is defined %}
ETCD_IMAGE={{ ka_etcd_image }}
{% endif %}

# etcd image version
{% if ka_etcd_version is defined %}
ETCD_VERSION={{ ka_etcd_version }}
{% endif %}

# cadvisor image (default: kontena/cadvisor)
{% if ka_cadvisor_image is defined %}
CADVISOR_IMAGE={{ ka_cadvisor_image }}
{% endif %}

# cadvisor image version
{% if ka_cadvisor_version is defined %}
CADVISOR_VERSION={{ ka_cadvisor_version }}
{% endif %}

# if set to `true` agent won't start cadvisor at all
{% if ka_cadvisor_disabled is defined %}
CADVISOR_DISABLED={{ ka_cadvisor_disabled }}
{% endif %}

# weave net image (default: weaveworks/weave)
{% if ka_weave_image is defined %}
WEAVE_IMAGE={{ ka_weave_image }}
{% endif %}

# weave exec image (default: weaveworks/weaveexec)
{% if ka_weaveexec_image is defined %}
WEAVEEXEC_IMAGE={{ ka_weaveexec_image }}
{% endif %}

# weave net version
{% if ka_weave_version is defined %}
WEAVE_VERSION={{ ka_weave_version }}
{% endif %}

# websocket timeout in seconds (default: 5.0)
{% if ka_websocket_timeout is defined %}
WEBSOCKET_TIMEOUT={{ ka_websocket_timeout }}
{% endif %}

